* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,900;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-regular: "Roboto", sans-serif;
  --font-primary: "Roboto Condensed", sans-serif;
  --font-weight-h1: 900; /* Black weight */
  --font-weight-h2: 600;
  --font-weight-h3: 600;
}

h1 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-h1);
  font-size: 3rem;
}

h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-h2);
  font-size: 2rem;
}

h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-h3);
  font-size: 1.2rem;
}

p {
  font-family: var(--font-regular);
  font-weight: 400;
}

.cta {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1rem;
  border: solid black;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background: none;
}
