---
import "/src/styles/style.css";
---

<footer>
  <h2>KONTAKT</h2>
  <img src="public/images/kontakt.webp" alt="lab manager" />
  <h3>Nikolaj Storm Hauge Tost</h3>
  <p><b>E: <a href="mailto:nito@kea.dk">nito@kea.dk</a></b></p>
  <div class="socials">
    <a href="https://www.instagram.com/kea_circularlab?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
      <img src="public/images/instagram.webp" alt="insta logo" />
    </a>
    <img src="public/images/linkedin.webp" class="linkedin" alt="linkedin logo" />
  </div>
</footer>

<style>
  footer {
    background-color: #ff671f;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  h3 {
    margin-top: 1rem;
  }
  p {
    margin-top: 1rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .socials {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .linkedin {
    margin-bottom: 0.1rem;
  }
</style>
