---
import "/src/styles/style.css";
---

<div class="backgroundhero">
  <h1>Circular Lab</h1>
  <p>
    Circular Lab er et fælles lab for KEA med fokus på cirkulære
    forretningsmodeller, design og strategi. Det er åbent for studerende,
    undervisere og samarbejdspartnere - og samarbejder på tværs af KEAs andre
    labs.
  </p>
  <button class="cta">SE MERE</button>
</div>

<style>
  .backgroundhero {
    background-image: url("/images/herobackground.png");
  }
  .backgroundhero {
    background-image: url("/images/herobackground.png");
    background-size: cover;
    background-position: center;
    padding: 5rem 2rem;
    text-align: center;
  }

  h1 {
    padding-bottom: 1rem;
  }

  p {
    padding-bottom: 1.4rem;
  }

  button {
    border: solid black;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background: none;
  }
</style>
