---
import "/src/styles/style.css";
---

<div class="BackgroundMaterialSection">

</div>

<style>
  .BackgroundMaterialSection {
    background-image: url("/images/materialbackground.png");
    background-size: cover;
    background-position: center;
    padding: 1rem;
    padding-bottom: 5rem;
  }
  .content {
    max-width: 800px;
    margin: 0 auto;
  }

  h2 {
    padding: 3rem 1rem 1rem 1rem; /* top right bottom left */
  }
  h3 {
    padding: 1rem;
  }

  .h3_dif {
    margin-top: 1rem;
    margin-bottom: -1.8rem;
  }
  p {
    padding: 1rem;
    line-height: 2rem;
  }

  .cta {
    display: block; /* Makes the button take full line width */
    margin: 2.5rem auto; /* Top/bottom = 1rem, left/right = auto (centers it) */
    border: 2px solid black;
    background: none;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--font-primary);
    font-size: 1.6rem;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 500px;
  }

  /* Responsiv styling ved 800px */
  @media (min-width: 800px) {
    .material-wrapper {
      display: grid;
      grid-template-columns: 1.6fr 1fr; /* venstre | højre */
      gap: 2rem;
      align-items: start;
    }

    .adgang {
      display: flex;
      flex-direction: column; /* Sørg for, at elementerne er i en kolonne */
      align-items: flex-start; /* Juster elementerne til venstre */
      order: 2;
      min-width: 330px;
      margin-right: 2rem;
    }

    .cta {
      margin: 1rem; /* Fjern auto-centrering */
      text-align: left; /* Sørg for, at teksten i knappen også er venstrejusteret */
    }
    #adgangid {
      padding: 3rem 1rem 1rem 1rem; /* top right bottom left */
    }
    .adgang h3,
    .adgang p {
      order: 1;
      text-align: left; /* Juster teksten til venstre */
      margin: 0 0 0.4rem 0; /* Tilføj lidt afstand mellem elementerne */
    }
    .adgang img {
      order: 2;
      margin: 1rem 0 0 0; /* Tilføj lidt afstand mellem teksten og billedet */
      max-width: 400px;
      align-self: flex-start; /* Sørg for, at billedet også justeres til venstre */
    }
  }
</style>
